.search-bar {
  margin: 20px;
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.search-box input{
  border-right-style:none;
}
.navbar {
  color: white;
  text-align: left;
  padding-left: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0px;
  background: #bb0000;
}
.navbar .you{
  color: white;
  font-size: 150%;
}

.video-item img {
  max-width: 64px;
}

video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.inputWithAddon input[type=text] {
  padding-right: 40px;
}
.inputWithAddon {
  width: 80%;
  margin-bottom: 15px;
  position: relative;
  margin-right: auto;
  margin-left: 0;
}
.inputWithAddon i{
  position: absolute;
  right: 0px;
  top: 8px;
  padding: 9px 8px;
  color: red;
  transition: 0.5s;

}
.inputWithAddon input[type=text]:focus i {
  color: red;
}